@media only screen and (max-width:600px) {
    .custom-valign {
        position: relative;
        margin-top: 10px;
    }
    footer {
        bottom: 0;
        position: relative;;
        width: 100%;
    }
}

@media only screen and (min-width:601px) {
    form .labelform {
        padding: 10px 0;
        text-align: right;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

my-app {
    flex: 1 0 auto;
}

.brand-logo {
    padding: 0 0 0 10px;
}

form .separate-elements div {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.lateral-padding-20 {
    padding: 0 20px 0 20px;
}

.bottom-padding-20 {
    padding: 0 0 20px 0;
}



.all-width {
    width: 100%;
}

.form-error {
    color: red;
    position: absolute;
    font-size: 12px;
    margin-top: -10px;
    width: 100%;
}

.form-submit-error {
    padding: 10px;
    color: red;
    line-height: 15px;
}

.card-content .display-block {
  width: 100%;
  display: block;
}

.icon-button {
  font-size: 20px;
  cursor: pointer;
}

.icon-button.icon-edit-button {
  position: absolute;
  margin-left: 10px;
}

a.disabled {
    color: gray !important;
    pointer-events: none;
}

i {
    color: #26a69a; 
    margin-top: 20px;
}

.delete {
    color: #ee6e73; 
    margin-top: 0px;
}

.completed {
    margin-top: 0px;
}

#taskList .title {
    font-size: 20px;
    font-weight: bold;
}

#taskList .status {
    font-size: 13px;
}

#taskList .status .pending {
    color: #8B0000;
}

#taskList .status .completed {
    color: #006400;
}

#taskList .creationDate {
    font-size: 12px;
    font-style:italic;
}

.tachado {
    text-decoration: line-through;
}

