<div class="z-depth-3 container lateral-padding-20 left-align" style="margin-top: 20px; padding-bottom: 20px; ">
  <div class="row">
    <form class="col s12 form" [formGroup]="taskForm" (ngSubmit)="save(taskForm.value)">
      <div class="row">
        <div class="col s12 center-align">
          <i class="material-icons" style="font-size: 100px;">&#xE85D;</i>
        </div>
      </div>

      <div class="row">
        <div class="input-field inline col s12">
          <label for="title"
                 [ngClass]="{'active': taskForm.controls.title.value}">Título da Tarefa *</label>
          <input id="title" type="text"
                 [formControl]="taskForm.controls.title"
                 [class.invalid]="!taskForm.controls.title.valid && taskForm.controls.title.touched">
          <control-messages
                 [control]="taskForm.controls.title"></control-messages>
        </div>
      </div>

      <general-error [errors]="submitErrorMessages"></general-error>

      <div class="row separate-elements">
        <div class="col s12">
          <button type="submit" class="waves-effect waves-light btn" [disabled]="!taskForm.valid" *ngIf="!submitted">Adicionar</button>

          <div class="preloader-wrapper small active" *ngIf="submitted">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Lista de tarefas -->
  <div id="taskList" *ngIf="tasks">
     <ul *ngFor="let task of tasks; let i = index" class="collection">
        <li class="collection-item">
          <div class="col s12 title" [class.tachado]="task.completed"> 
            {{task.title}}
          </div>
          <div class="col s12 status"> 
            <span *ngIf="!task.completed" class="pending">Pendente</span>
            <span *ngIf="task.completed" class="completed">Concluída</span>
          </div>

          <span class="creationDate"> Data de criação: {{task.creationDate | dateBR}}</span>
          <a href="#" (click)="delete(task._id)" class="secondary-content"><i class="material-icons delete">&#xE92B;</i></a>
          <a href="#" (click)="concludeTask(task)" *ngIf="!task.completed" class="secondary-content"><i class="material-icons completed">&#xE862;</i></a>
        </li>
      </ul>
  </div>
</div>
